.my-input-container {
  position: relative;
  transition: 0.3s;
}
.my-input-text {
  border: thin solid #dddddd;
  border-radius: 3px;
  height: 35px;
  transition: 0.3s;
}

.my-input-label {
  font-size: 20px;
  color: #dddddd;
  left: 15px;
  top: 0;
  position: absolute;
  z-index: 9;
  user-select: none;
  transition: 0.3s;

}

.my-input-text:focus + .my-input-label {
    top: -12px;
    left: 15px;
    font-size: 15px;
    color: blue;
    background-color: white;
}
.my-input-text:not(:placeholder-shown).my-input-text:not(:focus) + .my-input-label {
  top: -12px;
  left: 15px;
  font-size: 15px;
  color: blue;
  background-color: white;
}

.my-input-text:focus {
  border: 3px solid blue;
  outline: none;
}